.sGis-zoomButtons {
    position: absolute;
}

.sGis-zoomButtons.sGis-top {
    top: 30px;
}

.sGis-zoomButtons.sGis-bottom {
    bottom: 30px;
}

.sGis-zoomButtons.sGis-right {
    right: 30px;
}

.sGis-zoomButtons.sGis-left {
    left: 30px;
}

.sGis-zoomButtons-zoomIn, .sGis-zoomButtons-zoomOut {
    width: 32px;
    height: 32px;
    border: 1px solid gray;
    background-color: #F0F0F0;
    border-radius: 5px;
    cursor: pointer;
    margin: 2px;
    background-size: contain;
}

.sGis-zoomButtons-zoomIn:hover, .sGis-zoomButtons-zoomOut:hover {
    background-color: #E0E0E0;
}

.sGis-zoomButtons-zoomIn {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAk0lEQVR4nO2XsQ2EMAxFHycKJrkSxvAETMkEGeMob5KUVFBQGCdCcvN/G8d6kuWnBJIztF4opXyBzSlZzewf7Te2AgATMD+ch/PpAHg1AhCAAAQwwKXXqMEeVQxEVVxPFW/4em2JB3fPnj4CAQggHeBcw5UkD/S8CWfg55QsZrZH+6WPQAACEIAAej6nFfBMV1uaHQE1GEAKbB76AAAAAElFTkSuQmCC);
}

.sGis-zoomButtons-zoomOut {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFpJREFUeNrs2LENwDAIAEETZTaGZjmsrODGQrkv6E+igejuNblnDQ8AAAAAAAAAAAAA4L+A9xtVNe4sy8ywQgAAAAAAALcLz10AAAAAAAAAAAAAAACAs7YAAwDJuQpbR1QAogAAAABJRU5ErkJggg==);
}